<div class="row my-5">
  <div class="col">
    <%-include('book/booklist.ejs') %><!-- 도서 검색 목록 페이지 -->
    <br />
  </div>
</div>
<script type="module">
  console.log('home.ejs호출성공');
</script>